
header {
  color: chocolate;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  height: 25px;
  width: 80px;
}

textarea {
  font-size: 14px;
  resize: none;
}

label {
  padding-right: 12px;
}

.half-size {
  font-size: 50%;
}
